parameters:
    level: 5
    paths:
        - src
    
    bootstrapFiles:
        - cronaca-di-viterbo.php
    
    excludePaths:
        - vendor
        - node_modules
        - tests
    
    ignoreErrors:
        # WordPress core functions
        - '#Function (wp_|get_|is_|has_|add_|do_|apply_|current_|register_|esc_|sanitize_|absint|plugin_|admin_|get_current_screen)#'
        
        # Undefined constant ABSPATH (WordPress)
        - '#Constant ABSPATH not found#'
        
        # Undefined WP_Query, WP_Post
        - '#Class (WP_Query|WP_Post|WP_Term|WP_User) not found#'
    
    # Relax some rules for WordPress context
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
